.push{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card:hover{
    opacity: 6;
}